body {
    background: #eff;
    margin: 30px 0;
}
h1#site-name.header__site-name a {
    padding: 0 0 0 10px;
    color: orange;
    display: block;
    margin: 0 0 0 10px;
}
h1#site-name.header__site-name a:hover {} div#site-slogan {
    text-align: right;
    color: lightskyblue;
    display: block;
    padding: 0 0 0 10px;
    margin: 0 0 10px 0;
    font-style: italic;
}
nav#main-menu a {
    color: yellow;
    padding: 10px;
    display: block;
    text-decoration: none;
    background: lightskyblue;
}
nav#main-menu a.active-trail, nav#main-menu a.active-trail:hover {
    color: black;
        text-decoration: none;

}
nav#main-menu a:hover {
    text-decoration: underline;
    color: #ff0;
}
.feed-icon {
    display: none;
}
.node-promoted.node-teaser {
    background: lightyellow;
    width: 300px;
    margin: 10px;
    border: 1px solid lightcoral;
    padding: 10px;
    display: inline-block;
    float: left;
    height: 200px;
    overflow: scroll;
}
p.submitted {
    font: 10px Verdana;
    color: gray;
    font-style: italic;
    margin: 0;
    padding: 0;
}
a {
    color: orange;
    text-decoration: none;
}
a:hover {
    color: orange;
    text-decoration: underline;
}
form label {
    font-weight: normal;
}
form input {
    padding: 5px;
}
.form-item {
    margin: 0;
}
.region-footer {
    color: lightgray;
    font-size: small;
}
